<a href="https://colab.research.google.com/github/ConradMakai/Assignment-Week-One/blob/main/Assignment_Makai_Conrad_Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.append(11)
print(numbers)

numbers.remove(6)
print(numbers)

#I initially tried adding a new number, 11 with the append fucntion and
#I removed 6 then printed the new list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 7, 8, 9, 10, 11]

In [4]:
#Tuple of 5 City Names
cities = ('Mbarara', 'Kampala', 'Gulu', 'Mbale', 'Arua')
cities[3] = 'FortPortal'

#Tuples are not mutable, can't be adjusted or changed with new information.
#Therefore the error code must happen

TypeError: 'tuple' object does not support item assignment

In [6]:
#Set of Student names
students = {"Makai", "Collins", "Conrad", "Roy", "Gerald", "Sherina"}
students.add('Collins')
print(students)

{'Roy', 'Sherina', 'Collins', 'Makai', 'Gerald', 'Conrad'}

In [8]:
#Set of Student names
students.add('Sherina')
print(students)
#Sets don't accept duplicates despite two tries here. Noted!

{'Roy', 'Sherina', 'Collins', 'Makai', 'Gerald', 'Conrad'}

In [11]:
#Dictionary
person = {'name': 'makai', 'age': 27, 'email': 'conradj@gmail.com'}
person['email'] = 'makai@gmail.com'
print(person)

#I see that here i just look for the key (email) and add a new value to it
#This updates the email section

{'name': 'makai', 'age': 27, 'email': 'makai@gmail.com'}

In [16]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20]
for i in numbers:
    if i % 2 == 0:
        print("i is even")
    else:
        print("i is odd")

#Took me a while to figure out how to say a number when even gives no remainder
#When divided by two. I will do more operations on this
#that's when i got the modulo operator %, learnt how it works
#the statement there meant if a number is divided by 2, it gives zero as remainder
#Hence we print the number "i" as even or else it will be odd

i is odd
i is even
i is odd
i is even
i is odd
i is even
i is odd
i is even
i is odd
i is even
i is odd
i is even
i is odd
i is even
i is odd
i is even
i is odd
i is odd
i is even

In [18]:
person = {'name': 'makai', 'age': 27, 'email': 'conradj@gmail.com'}
for key, value in person.items():
    print(key, "→", value)

#Whereas I followed the steps and some other lessons online
#The word iterate here gives me trouble
#I understand it may mean visit one row one ar a time
#But i have never clearly understood the code here and how to use a loop to iterate

name → makai
age → 27
email → conradj@gmail.com

In [21]:
marks = 63
if marks >= 80:
  print('A')
elif marks >= 70:
  print('B')
elif marks >= 60:
  print('C')
elif marks >= 50:
  print('D')
else:
  print('F')

C

In [23]:
#Functions
def calculate_mean(age):
  z = sum(age)
  y = len(age)
  return[z/y for x in age]

age = [79, 82, 45, 34, 54, 30, 40]
calculate_mean = calculate_mean(age)
print(calculate_mean)

[52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0]

In [10]:
#Error handling


try:
    num1 = float(input("first number: "))
    num2 = float(input("second number: "))
    result = num1 / num2

except ZeroDivisionError as Impossible:
    print('Invalid input', Impossible)

except ValueError as e:
    print("Invalid input", e )

finally:
    print("Division operation complete.")

first number: 45
second number: 0
Invalid input float division by zero
ℹ️  Division operation complete.

In [ ]:
#Found issues with creating a module in Google collab notebook